

/* Estilos para la seccion */
#estiloParrafo {
    font-family: "Helvetica Neue", helvetica, arial;
    color:blanchedalmond;
    background-color: #000;
    width: 90%;
    margin:0px auto; 
}

/* Estilos para los titulos */
#estiloParrafo h1 {
    font-size: 4vw;
    margin: 20px 0px;
    text-align: center;
}

#estiloParrafo h2 {
    font-size: 2.5vw;
    margin: 20px 0px;
    text-align: center;
}

/* Estilo de animacion del los titulos*/
.titulo-form {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase; 
    font-size: 1.5em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    /* porcentaje de Visibilidad del titulo */
    background-size: 80%;
    animation: animatet 3s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animatet {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }


/* Estilos para los parrafos */
.parrafo p {
    margin: 30px 0px;
    letter-spacing:1.5px;
    line-height:20px;
}

/* Estilos de animacion para los parrafos */
.parrafo p {
  
    font-size: 1rem;
    color: lightblue;
    text-shadow: 5px 5px 30px blue;
    font-family: 'Open Sans Condensed', sans-serif;
    animation-name: repeat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-weight: lighter;
}

@keyframes repeat {

  0% {color: lightblue; text-shadow: 5px 5px 30px lightblue;}
  20% {color: #45aaf2; text-shadow: 5px 5px 30px  #45aaf2;}
  40% {color: #2d98da; text-shadow: 5px 5px 30px  #2d98da;}
  60% {color: #4b7bec; text-shadow: 5px 5px 30px  #2d98da;}
  80% {color: #3867d6; text-shadow: 5px 5px 30px  #3867d6;}
  100% {color: lightblue; text-shadow: 5px 5px 30px  lightblue;}

}


/* Estilos para las imagenes y el video */
.margenFoto {
    margin: 50px 0px;
}

.tamanoFoto {
    width: 100%;
    height: auto;
}

.video {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.video video {
    width: 80%;
}







