
:root {
    --color-fondo-background-1: #000000;
    --color-fondo-background-2: #8b0000;
    --header-color: #8b0000;
    --menu-color: #A52A2A;
    --texto-color: #ffffff;
    --bordes-color: orange; --bordes-color2: yellow;
    --link-color: orange;


}

/* Selector universal */
* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    /* Escrive en mayuscula el primer caracter de las palabra */
    /* text-transform: capitalize;  */
} 

/* Contenido */
body {
    font-family: "Helvetica Neue", helvetica, arial; 
    background-color: #000000;
}

/* Quito el subrayado a los links */
a {
    text-decoration: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--header-color) #ffffff;
} 

/* Chrome, Edge, and Safari */
 *::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--header-color);
    border-radius: 10px;
    border: 3px solid #ffffff
} 


/* ---------------------------------------------------------------------------- */


/*  otro fondo */

/* .header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    background-size: 400% 400%;
    position: relative;
    animation: animate 7.5s ease-in-out infinite;
 
}

@keyframes animate{
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
} */

/* ------------------Cominzo: Background: Fondo animado----------------------- */
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    /* background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%); */
    background-image: linear-gradient(-60deg, #000000 50%, #f80000 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
  
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
  
.bg3 {
    animation-duration:5s;
}

@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}
/* ---------------------Fin Backgrond: Fondo animado----------------------- */


/* ---------------------Estilos del menu header---------------------------- */

/* ancho, color de fondo, y posicion del header) */
.header { 
 
/* background-color:rgba(255,255,255,.8);
box-shadow:0 0 .25em rgba(0,0,0,.25); */
background-color: var(--header-color);  
/* Posicion del header */
/* position:fixed; */
position:sticky;
left: 0;
top: 0; 
right:0;

display: flex;
/* Ancho, color de fondo del header */
width: 100%;
/* Centro verticalmente logo y links */
align-items: center;
/* Separo de extremo a extremo horizontalmente  */
justify-content: space-between;
z-index:9999;
/* Doy margenes internos isquierdo y derecho de 40px para el menu completo */
padding-left: 45px;
padding-right: 45px;
/* Borde inferior del header*/
border-bottom: 3px solid var(--bordes-color); 
} 

/* Distancia superior del logo */
.header .logo {
    padding-top: 15px ;
}

.name {
    padding-left: 20px;
}

/* Estios para el titulo del logo */

/* Estilos para el titulo del logo, tamaño de fuente, familia y peso, y margen interno inferior */
.fire a {
    font-size: 55px;
    padding-bottom: 15px;
    font-family: "Akronim", system-ui;
    font-weight: 600;
}

/* Color cunado hago foco en el titulo del logo */
.fire a:hover {
    color: #A52A2A;
} 


.fire .Blazing {
    /* color: rgb(255, 115, 0); */
    color: var(--texto-color); 
	text-shadow:
        0 3px 20px red,
        0 0 20px red,
		0 0 10px orange,
		4px -5px 6px yellow,
		-4px -10px 10px yellow,
		0 -10px 30px yellow;
	animation: 2s Blazing infinite alternate linear;
}

@keyframes Blazing {
	0%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
	25%   { text-shadow: 0 3px 20px red, 0 0 30px red,
		0 0 20px orange,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow; }
	50%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow,
		2px -20px 30px rgba(255,255,0,0.5); }
	75%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		3px -5px 5px yellow,
		-4px -10px 10px yellow,
		2px -20px 30px rgba(255,255,0,0.5),
		0px -25px 40px rgba(255,255,0,0)}
	100%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
}
/* ----------------Fin estios Titulo del logo---------------------------------------------------- */



/* Centro Verticalmente los links*/
.header .navbar {
     display:flex;
     position: relative;  
     float: left; 
} 


.header .navbar .menu {  
    border-radius: 20px;
    /* Distancia de los extremos isquierdo y derecho del menu principal "Bordes derecho y isquierdo"*/
    padding: 0px 30px;
    /* sombra de los bordes del menu */
    box-shadow: inset 0 10px 10px rgba(210,105,30,.5), inset 0 -2px 0 rgba(228, 151, 7, 0.932), 0 1px 3px rgba(228, 151, 7, 0.932); 
    /* Color de fondo del menu */
    background-color: var(--menu-color); 

}
 

/* Alineo los links del menu y quito viñetas de las opciones principales*/
.header .navbar .menu li {
    /* display: flex;*/
    position: relative;     
    float: left; 
       
}  


.header .navbar .menu > li {
     /* Estilo para los bordes verticales derechos de las opciones principales */
     border-right: 3px solid rgb(228, 151, 7, 0.932);
    /* Perpectiva para el giro de las opciones del menu */
    perspective: 1000px;     
} 

/* Estilo del primer borde vertical isquierdo de las opciones principales */
.menu > li:first-child {
    /* Estilo del primer borde de la isquierda del menu */
     border-left: 3px solid rgba(228, 151, 7, 0.932); 
     /* box-shadow: -3px 0 0 rgba(228, 151, 7, 0.932), 1px 0 0 rgba(255,255,255,.25);*/
 } 

/* Quito las viñetas a los links */
.header .navbar ul {
    list-style: none;
}

/* Estilo de la Fuente y pongo en bloque las opciones principales del menu*/
.header .navbar .menu li a {
    
    font-size: 20px;
    /* Marjenes internos de los titulos de las opciones principales */
    padding: 13px 20px 13px 20px;
    /*Color de la funete de las opciones principales  */
    color: rgba(228, 151, 7, 0.932); 
    /* Interlineado, peso y tamaño de la fuente y espacio entre letras de las opciones principales*/
    line-height: 1;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: -.02em;
    background: transparent;
    /*Efecto de sombreado de las opciones principales  */
    text-shadow: 0 1.5px 1.5px rgba(255, 255, 0, 0.9); 
    transition: all .25s ease-in-out;  
    display: block;
}


/* Efecto de fondo y texto cuando hago foco en las opciones principales del menu */
.header .navbar .menu > li:hover > a {  
    /* Color del fondo del texto */
    background: #000000;
    /* Color de texto cuando hacemos foco */
    color: var(--texto-color);
    text-shadow: none; 
}

/* Posicion (para que las opciones principales esten en linea), ancho, color y visibilidad nula del menu desplegable */
header .navbar .menu li ul {   
    position: absolute;
    width: 100%; 
    left:0 ;
    width: 200px;
    /* Tamaño de los bordes inferiores del menu desplagable*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: transparent;
    transform-origin: 50% 0%; 
    overflow: hidden;
    display: none;
} 

/* Restablezco el valor a visible del menu desplegable */
header .navbar .menu li:focus-within > ul, header .navbar .menu li:hover >ul {
    display: initial;
    /*Distancia arriba y abajo de las primera y ultima opcion secundaria */
    padding: 15px 0;
    background: #000000;
    
    /* Sombra del borde del menu osilante */
    box-shadow: 2px 2px 8px rgba(228, 151, 7, 0.932);
    /* Nombre de la animacion, duracion y funcion */
    animation-name: swingdown;
    animation-duration: 1s;
    animation-timing-function: ease;
   
}

/* Fotogramas de la animacion */
@keyframes swingdown {
    0% {
        opacity: .99999;
        transform: rotateX(90deg);
    }

    30% {			
        transform: rotateX(-20deg) rotateY(5deg);
        animation-timing-function: ease-in-out;
    }

    65% {
        transform: rotateX(20deg) rotateY(-3deg);
        animation-timing-function: ease-in-out;
    }

    100% {
        transform: rotateX(0);
        animation-timing-function: ease-in-out;
    }
}

/* Fuente y borde de el interior del menu osilante */
.header .navbar .menu ul li a {
    /* marjen isquierdo de las opciones secundarias */
    padding-left: 15px;
    /* Espesor y color de fuente del menu osilante */
    font-weight: 400;
    color: #FFC300;
    text-shadow: none;
    /* Tipo de Borde abajo y arriba */
    /* border-top: dotted 5px transparent;
    border-bottom: dotted 5px transparent;
    transition: all .15s linear; */
}

/* Color de funte, cuando hacemos foco en el interior (opciones) del menu osilante */
.header .navbar .menu ul li a:hover {
    position: relative;
    width: 100%;
    color: var(--texto-color);
      
}

/* ocultamos el checkbox */
#menu-bar {
    display: none;
}

/* Ocultamos icono de menu amburgueza y le ponemos color, tamaño y cursor */
header label {
    font-size: 38px;
    color: #ffffff;
    cursor: pointer;
    display: none;
}


/* -------------------Puntos de corte para el header----------------------------- */

/* Tamaño Para pc y dispositivos entre 768 y 1200px */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .header {
       
         /*Pongo el logo principal y los links del menu en columna y centrado y con una disposicion vertical*/
        display: flex; 
        flex-direction: column;
        justify-content: flex-start; 
        align-content: center;
        background-color: var(--header-color);
        /* height: 155px; */
        /* Tamño de fuente de las opciones principales del menu */
        font-size: 12px;  
        /*Distancia de los extremos derecho y isquierdo y abajo del menu con respecto al los boedes del header*/
        padding: 0px 5px 10px 5px;
      
    }
}
/* --------Fin dispositivo pc-------------------------------------- */

/* -------------------Tamaño Tablet------------------------------- */
 @media only screen and (min-width: 600px) and (max-width: 768px) {
    .header { 
        /*Pongo el logo principal y los links del menu en columna y centrado y con una disposicion vertical*/
        display: flex; 
        flex-direction: column;
        justify-content: flex-start; 
        align-content: center;
        background-color: var(--header-color);
        /* height: 150px;     */
        font-size: 10px; 
        /*Distancia de los extremos derecho y isquierdo y abajo del menu con respecto al los boedes del header*/
        padding: 0px 5px 10px 5px;
    }

    /* Ancho del menu osilante */
    .header .navbar .menu li ul {   
        width: 160px;
     } 
  
    /* Marjenes internos de las opciones principales */
    .header .navbar .menu li a {
    padding: 13px 13px 13px 13px;     
    }    
}
/* -----------------Fin dispositivo  Tablet ----------------*/

/* --------------Tamaño Celular hasta 600px -------------------------*/
@media only screen and (max-width:600px) {
 
    /* Distancia del extremo derecho del menu amburgueza y altura del header*/
    .header {
        padding: 0px 15px 0px 15px;  
        height: 60px; 
    }

    .logo .logo2 {
        display: flex;
        align-items: center;
       
    }
    
    /* Tamaño y Distancia del logo principal con respecto a la parte inferior del header*/
    .header .logo .logo2 img {
        margin-bottom: 5px;
        height: 35px;
        width: 35px;
    } 
    
    /* Estilo para el titulo del logo principal */
    .header .logo .logo2 .name {
        text-align: center;
        font-size: 35px;
        padding-left: 10px;
        /* display: none; */
    }

    /* Estilo de los hijos directos, bordes de las opciones principales */
    .header .navbar .menu > li {
        /* Estilo de los bordes isquierdos de las opciones principales */
        border-left: 3px solid rgb(228, 151, 7, 0.932);
            
    } 
    
    /* Visibilizamos el logo del menu Amburgueza*/
    .header label {
        display: initial;
    }

    .header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background-color: var(--header-color);
        /* ocultamos el menu desplagable */
        display: none;
    } 

      /* Ponemos de forma vertical las opciones principales */
    .header .navbar .menu li {
        width: 100%; 

    } 

    
    /* Apilamos la opciones en forma vertical */
    .header .navbar .menu li ul {
        position: relative;
        width: 100%;
    }
    
      /* Color de Fondo de las opciones secundarias */
    .header .navbar .menu li ul li {
        background: #333; 
    }

    /* Visibilizamos el menu cuando hacemos clik en el logo "Menu anburgueza" */
    #menu-bar:checked ~ .navbar {
        display:initial;
    }
}
/* ----------------------------Fin dispositivo celular--------------------------*/
/* --------------------------Fin de lo puntos de corte-------------------------- */

/* ---------------------Cierre del Menu o header-------------------------------- */



/* ------------------Comienzo de estilos del main--------------------------------- */


/* -------------------Comienzo de la seccion del Eslider------------------------ */

.slider-frame {
	width: 100%; 
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    /*Ocultamos el desbordamiento  */
	overflow: hidden;
    /* Estilo del borde inferior del slider */
    border-bottom: 3px solid orange; 
}

/* Colocamos las imagenes en linea con flex con un ancho del 400% por ser 4 imagenes */
.slider-frame ul {
	display: flex;
    padding: 0;
	width: 400%;
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
    position: relative;
}

.texto {
    position: absolute; 
    /*Alineo los parrafos con repecto al titulo */
    text-align: center;
    /* Le doy altura o posicinamiento superior al titulo y al parrafo */
    top: 200px;
    /* Alineo en el centro horizontal del slider El tituo con el parrafo */
    width: 100%; 
    margin: auto; 
    /*padding: 0 500px 0px 500px;  */

    /* Color del texto titulo y parrafo */
    color: var(--texto-color);
     
}

/* Tamaño del titulo h1 */
.texto h1 {
    font-size: 6vw;
}

/* Estilo para el titulo h1 y h2 del slider */
.fire2 {
    /* color: rgb(255, 115, 0); */
    color: var(--texto-color); 
	text-shadow:
        0 3px 20px red,
        0 0 20px red,
		0 0 10px orange,
		4px -5px 6px yellow,
		-4px -10px 10px yellow,
		0 -10px 30px yellow;
}

.slider-frame img {
	width: 100%;
} 

/* Fotogramas correspandientes a la animacion para el slider */
@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}



/* -------------------Puntos de corte para el slider----------------------------- */

/* Tamaño Para pc y dispositivos entre 768 y 1200px */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    /* Altura y todo el ancho para la imagen */
   .slider-frame {
    height: auto;  
    width: 100%;
    }

    /* Le doy altura o posicinamiento superior al titulo y al parrafo */
    .texto {
       top:180px;      
    }
}

/* -------------------Tamaño Tablet------------------------------- */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    /* Altura automatica y todo el ancho para la imagen */
    .slider-frame {
        height: auto;  
        width: 100%;
    }

    /* Le doy altura o posicinamiento superior al titulo y al parrafo */
    .texto {
        top: 120px;
        /* font-size: 3vw; */
    } 

    /* .texto h2 {
        font-size: 35px;
        margin-bottom: 15px;
    }*/

} 

@media only screen and (max-width:600px) {
    /* Altura automatica y todo el ancho para la imagen */
   .slider-frame {
        height: auto;  
        width: 100%;
    }

    /* Le doy altura o posicinamiento superior al titulo y al parrafo */
    .texto {
        top: 70px;
    } 

    /*.texto h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }*/

    .texto h2 {
        font-size: 15px;
    } 
}

/* ----------------------------Fin seccion slider---------------------------- */




/* ---------------------Comienzo seccion sobre acerca de nosotros---------------------------------- */


.main .sobre-nosotros {
        display: flex;
        align-items: center;
        justify-content: center;
        /*height: 450px;*/
        padding: 15px 0px 15px 0px;
        width: 100%;
        background: var(--color-fondo-background-2);
        text-shadow: -1px 3px 4px rgba(0, 0, 0, 0.29);
        box-shadow: 0px 9px 6px 0px rgba(0, 0, 0, 0.1);
        /* -webkit-box-shadow: 0px 9px 6px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 9px 6px 0px rgba(0, 0, 0, 0.1); */
        /* Borde inferior de la seccion (acerca de nostros) */
        border-bottom: 3px solid var(--bordes-color);
} 

.main .sobre-nosotros .sobre-nosotros-img img {
    border: 3px solid var(--bordes-color);
    box-shadow: 0px 0px 0px 1px  var(--bordes-color2);
    width: 350px;
    height: 233px;
    /* margin-right: 30px; */
   /*padding-left: 30px; */
    /* margin-left: 30px;    */
}


/* Estilos para el texto "Acerca de Nosotros" */
.main .sobre-nosotros .sobre-nosotros-info .nosotros {
    text-align: left;
    font-size: 1.2em;
}

/* Estilo para el h1 */
.main .sobre-nosotros .sobre-nosotros-info h1 {
    text-align: left;
    margin: 0px 0px 5px 0px;
    color: var(--texto-color);
    font-size: 2.3vw;
    font-weight: 600;
}

/* Estilo para el h1 y el parrafo */
.main .sobre-nosotros .sobre-nosotros-info {
    width: 50%; 
    text-align: left;
    margin: 0px 0px 5px 0px;
    color: var(--texto-color);
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px 10px 40px;
}  

/* -------------------Estilo para el link (+info) boton rojo-----------------------------------------------*/
.main .sobre-nosotros .sobre-nosotros-info a {
    color: var(--texto-color);
    text-decoration: none;
    text-align: left;
}

.main .sobre-nosotros .sobre-nosotros-info .button-rojo {
    color: var(--link-color);
    cursor: pointer;
    font-size: 1rem;
    line-height: 2.5rem;
    max-width: 120px;
    width: 100%;
    letter-spacing: 0.1rem;
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    transition: all 1s ease-in;

} 

.main .sobre-nosotros .sobre-nosotros-info .button-rojo span {
    color: var(--link-color);
}

.main .sobre-nosotros .sobre-nosotros-info .button-rojo:hover {
    color: var(--texto-color);
}

.main .sobre-nosotros .sobre-nosotros-info .button-rojo svg {
    height: 40px;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
} 

.main .sobre-nosotros .sobre-nosotros-info .button-rojo rect {
    fill: none;
    stroke: var(--bordes-color);
    stroke-width: 3;
    stroke-dasharray: 450, 0;
    transition: all 0.5s linear;
}

.main .sobre-nosotros .sobre-nosotros-info .button-rojo:hover rect {
    stroke-width: 3;
    stroke-dasharray: 20, 300;
    stroke-dashoffset: 30;
    stroke: var(--bordes-color);
    transition: all 2s cubic-bezier(0.22, 1, 0.25, 1);
} 
/* -----------------fin estilos del boton link (rojo)------------------------------------------ */


.main .color-fondo {
    background:var(--color-fondo-background-1);
}


/* -------------------Estilo para el link (+ Vision) boton negro-----------------------------------------------*/
.main .sobre-nosotros .sobre-nosotros-info .button-negro {
    color: var(--link-color);
    cursor: pointer;
    font-size: 1rem;
    line-height: 2.5rem;
    max-width: 120px;
    width: 100%;
    letter-spacing: 0.1rem;
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    transition: all 1s ease-in;
}

.main .sobre-nosotros .sobre-nosotros-info .button-negro:hover {
    color: var(--texto-color);
}

.main .sobre-nosotros .sobre-nosotros-info .button-negro svg {
    height: 40px;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
}

.main .sobre-nosotros .sobre-nosotros-info .button-negro rect {
    fill: none;
    stroke: var(--bordes-color);
    stroke-width: 3;
    stroke-dasharray: 450, 0;
    transition: all 0.5s linear;
}

.main .sobre-nosotros .sobre-nosotros-info .button-negro:hover rect {
    stroke-width: 3;
    stroke-dasharray: 20, 300;
    stroke-dashoffset: 30;
    stroke: var(--bordes-color);
    transition: all 2s cubic-bezier(0.22, 1, 0.25, 1);
}


/* -------------Fin Estilo para el link (+ Vision) boton negro-----------------------------------------------*/






/* -------------------Puntos de corte para la seccion (Acerca de Nosotros)----------------------------- */

/* Tamaño Para pc, tablet y dispositivos entre 600 y 1200px */
@media only screen and (min-width: 600px) and (max-width: 1200px)  {
    .main .sobre-nosotros {
        /* margin: 50px; */
        grid-template-columns: auto auto;
        display: grid;
        padding: 30px 30px 30px 50px;

    }

    .main .sobre-nosotros .sobre-nosotros-info {
        width: auto;
        /* margin: 10px; */
        padding: 10px 20px 10px 20px;
    }

    .main .sobre-nosotros .sobre-nosotros-img img {
        /* margin: 15px;  */
        width: 100%;
        height: 100%;
        padding: 0px;
    }

    .main .sobre-nosotros .sobre-nosotros-info h1 {
        font-size: 20px;
    }
}

/* Tamño para celulares */
 @media only screen and (max-width: 599px)  {
    

    .main .sobre-nosotros {
        
        display: flex; 
        flex-direction: column;
        justify-content:center;
        padding: 10px 10px 10px 40px  
    }  

    .main .sobre-nosotros2 {
        display: flex; 
        flex-direction: column-reverse;
        justify-content:center;
        padding: 10px 10px 10px 40px 
    }

    .main .sobre-nosotros .sobre-nosotros-info {
        width: auto;
        padding: 10px 20px 10px 0px;  
    }

    .main .sobre-nosotros .sobre-nosotros-img img{
        margin: 0px;
        padding: 0px;           
        height: 80%;          
        width: 90%;        
    }  

    .main .sobre-nosotros .sobre-nosotros-info h1 {
        font-size: 20px;
    } 
}

/* ------------Fin punto de cote (acerca de nosotros)---------------- */

/* ------------Fin Seccion (acerca de nosotros)------------------------ */

/* -----Estilos seccion (Recursos Humanos y "Tasacion y Alquiler")------- */
.main .columnas {
    display: grid;
    width:100%;
    grid-template-columns: auto auto;
} 

.main .columnas .css-grid .margen-isq {
    width:100%;
    margin:0px 0px 0px 0px; 
    /* margin-right:100px;    */
}

.main .columnas .sobre-nosotros-info .tamano {
    font-size: 20px;

}

/*----------------Puntos de corte-------------------------*/
@media only screen and (min-width: 600px) and (max-width: 1200px)  {
    .main .columnas .css-grid {
       
        display: grid;
        grid-template-columns: auto;
        width:100%;  
       
    }
    .main .columnas .css-grid .sobre-nosotros-img {
        /* padding-left: 0px;   */   
        width:100%;        
    } 

    .main .columnas .css-grid .margen-isq {
        width:100%;
        margin:0px 0px 0px 0px; 
        
    }
}



@media only screen and (max-width: 599px)  {
    .main .columnas {
        display: flex;
        width:100%;  
        flex-direction: column;
       
    }  
    .main .columnas .css-grid .sobre-nosotros-img {
       width:100%;       
    } 

    .main .columnas .css-grid .margen-isq {
        width:100%;
        margin:0px 0px 0px 0px; 
        
    }
}