#registro { 
    background-color: #000000;
    color: var(--texto-color);   
}

.formulario {
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    background-size: 400% 400%;
    position: relative;
    animation: animate 7.5s ease-in-out infinite;
}

@keyframes animate{
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
} 

.formulario {
  
    /* Incluye el color de fondo, texto alineado de texto a la isquierda y, borde del formulario */

    /* background-color: #006666;  */
   
    border-radius: 30px;
    /* Ancho max del formulario con una ocupacion 100% y un ancho maximo de 1000px */
    max-width: 1000px;  
    width: 100%;        
    /* Márgenes automático, para el ancho (esto incluye derecha e izquierda) lo cual produce que el formulario se centre */
    margin: auto;
    /*Margen interior de todos los bordes del la formulario */
    padding: 40px;

   /*Aplico grid 3 columnas iguales con una separacion entre celdas de 20px */
   display: grid;
   grid-template-columns: 0.5fr 0.5fr 0.5fr;
   gap: 20px;
} 

/* Estilos para los labels */
.formulario__label {
    /* Canjas en bloque, para aplicarle propiedaes que ocupen el 100% del ancho de la celda */
	display: block;
    /* Peso de la fuente, en negrita */
	font-weight: 700;
    /* Margen interno emtre celdas */
	padding: 10px;
    /* Cambio el cursor cuando, estoy arriba del label*/
	/* cursor: pointer; */
}

/* Nos situamos en una posicion relativa, con repecto a los input y iconos para luego poner los iconos en posicion absoluta y meterlos dentro del input*/
.formulario__grupo-input {
	position: relative;
}

/* Estilos para los input */
.formulario__input {   /* ---------------ver-para provincias----------*/
    /* Para que las celdas ocupen el 100% del ancho */
	width: 100%;
    /* Cambio el cursor cuando, estoy arriba del imput*/
    cursor: pointer;
    /* Color de fondo de los input */ 
	background: var(--color-fondo-background-1);
    /* color: var(--bordes-color); */
    /* Borde de los imput, trasparentes, para que cuando hagamos foco pasen a otro color*/
	border: 4px solid transparent;
    /* Borde redondo de los input */
	border-radius: 30px;
    /* Altura de las celdas */
	height: 45px;
    /* Altuara entre lines (interlineado) */
	line-height: 45px;
    /* Margen interno arriba/abajo=0, derecha=40, y iquierdo=10 del texto en el interir del input */
	padding: 0 40px 0px 10px;
    /* Establesco una transicion de .3s para todas las propiedades */
	transition: .3s ease all;
}

/* Propiedad, para que cuando hago foco en el input hacemos un clik, haya una transicion del borde, y cambie el estilo de borde  */
.formulario__input:focus {
	border: 3px solid var(--bordes-color);
    /* Para quitar el subrrallado */
	outline: none;
    /* Sombra con color y trasparencia*/
	box-shadow: 3px 0px 30px var(--bordes-color2);
}
/*-----------------------------------------*/
/* Estilos de los mensajes de error de cada input*/
.formulario__input-error {
    /* Tamaño de fuente y color de fondo*/
	font-size: 13px;
    color: #ffffff;
   
    /* Para que se oculte el mensaje; descomentar una vez que esten definidos los colores  */
    /* Descomentar al establecer estilos */


	/*display: none;*/
}

/* Cuando hago foco en el input, el mensaje pasa a un estado activo y se bloquea*/
.formulario__input-error-activo {
    
	display: block;
}

/* Estado del icono de validacion, del  icono, cuando sea (incorrecto=opacity="0" oculta), (correcto=opacity=1 aparece) */
.formulario__validacion-estado {
    /* posicion absoluta */
	position: absolute;
    /* Desplaza de derecha a isquierda el icono */
	right: 10px;
    /* Desplazo hacia abajo el icono */
	bottom: 14px;
    /* Para acegurarme de que va a estar por encima de otros elementos */
	z-index: 100;
    /* Tamaño del icono */
	font-size: 20px;
    /* opacacidad de 0 para que no se muetre el icono, solo se active cuando tengamos un error */
    


	opacity: 0;
}

/*---------------------------------------------*/
/* Margen derecho, para que se separe el checkbox y el radio de sus opciones*/
.formulario__checkbox, .formulario__radio {
	margin-right: 10px;
}

/* Para que estos elementos ocupen toda una unica columna*/
.grupo__cond__impositiva, .grupo__foto-enviar, .grupo__terminos, .formulario__mensaje, .formulario__grupo-btn-enviar {
    grid-column: span 3;
} 


/* Estilos del mensaje error al pie del formulario*/
.formulario__mensaje {
    /* Altura */
	height: 45px;
    text-align: center;
    /* Altura de la line */
	line-height: 45px;
    /* Color de fondo */
	background: #8b0000;
    /* Margen interno arriba/abajo=0, isquierda/derecha=15 */
	padding: 0 15px;
    /* Borde redondo */
	border-radius: 20px;
    /* Oculta el parrafo error de cada input, descomentar al aplicar estilos */



	/*display: none;*/
}

/* cuando el mensaje de error pasa a estado activo cambio el display, descomentar cuando tenga los estilos de color*/
.formulario__mensaje-activo {
	display: block;
}

/* Margen del parrafo error al pie de pagina*/
.formulario__mensaje p {
	margin: 0;
}

/* Activo flex como el  eje de la direccion columna y centro (condicion impositiva, subir DNI y boton enviar*/
.formulario__grupo-btn-enviar, .grupo__cond__impositiva, .grupo__foto-enviar, .grupo__terminos {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* --------------------Estilos de color, tamaño y trasicion del boton enviar--------------------------- */
/* Estilos del boton Enviar */
.formulario__btn, .imagen {
    /* Altura y alto de linea */
	height: 45px;
	line-height: 45px;
    /* Ancho y color de fondo del boton*/
	width: 30%;
    background: #CEF6F5;
    /* Color de texto del boton*/
	color: #006666;
    /* estilo en negrita */
	font-weight: bold;
    /* Le quito el borde por defecto */
	border: none;
    /* Le pongo un borde redondo personalizado */
	border-radius: 30px;
    /* Cambio del cursor al a ser foco */
	cursor: pointer;
	transition: .1s ease all;
}
/* Estado del hover, para la transicion del boton */
.formulario__btn:hover, .imagen:hover {
	box-shadow: 3px 0px 30px var(--bordes-color2);
}

/* Alineo el Tulo de "Subir DNI" */
.imagen { 

    display: flex;
    justify-content: center;
    align-items: center; 
 } 

/* Estilo del mensaje de exito al pie de la pagina*/
.formulario__mensaje-exito {
	font-size: 14px;
	color: var(--texto-color);
    opacity: 1;
    /* Para que se oculte el mensaje; descomentar una vez que esten definidos los colores */


	/*display: none;*/
}

/* Cuando la clase esta activa, tiene un dipalay tipo bloqueado, es decir no se muestran los mensages */
.formulario__mensaje-exito-activo {
	display: block;

}

/* -------------------- -----  Estilos para Validacion ---------------- ----- */

/* Estilo del icono correcto  color y opacacidad, acceso al estado de validacion*/
/* Cambian de color (incorrecto a correcto, dependiendo de la clase que tengo asignadas en los <div> "formulario__grupo-correcto", o "formulario__grupo-incorrecto" */


/* Estado correcto, color y visualizacion del icono */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

/* Estado incorrecto, icono rojo */
.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

/* Cuando el estado sea incorrecto accedo a (.formulario__validacion-estado)*/
.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

/* Color del borde del input cuando el estado es incorrecto */
.formulario__grupo-incorrecto .formulario__input {
	border: 4px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media only screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

    .grupo__cond__impositiva, .grupo__foto, .grupo__terminos, .formulario__mensaje, .formulario__grupo-btn-enviar {
        grid-column: 1;
    }
    
    


    /* Para que el ancho del boton enviar sea del 100% */
    .formulario__btn, .imagen {
		width: 70%;
	}

}





/*--------------------------------------------------------------*/
/* Estilo para el texto de la fecha */
.formulario__grupo-input input {
  color: #006666;  
  font-size: 1.1rem; 
  font-weight: 700;
}  

/* Estilo de texto del select*/
.formulario__grupo-input select {

    color: #006666; 
    /* Tamaño de fuente dentro de la caja */
    font-size: 1rem;  
    /* Peso de fuente dentro de la caja */
    font-weight: 700;
  } 

  /* Color de texto de los input y de las opciones del select */
.input-field::placeholder, option {
    color: #006666;
    font-weight: bold;
  }

/* Estilo para el texto de los input (nombre, apellido, n de documento, n de telefono, correo electronico y pasword */
input::placeholder {
    color: #006666;
    /* Tamaño de fuente dentro de la caja */
    font-size: 1rem;  
    /* Peso de fuente dentro de la caja */
    font-weight: 700;
}

input[type="file"] {
    display: none;
  } 